[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sparkfun-qwiic-dual-encoder-reader = "*"
sparkfun-qwiic-icm20948 = "*"
sparkfun-qwiic-scmd = "*"

[dev-packages]

[requires]
python_version = "3.11"
